<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Estado pedido</th>
      <th>Medio pago</th>
      <th>Direccion pedido</th>
      <th>Ciudad envio</th>
      <th>Nombre apellidos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.estado_pedido %></td>
        <td><%= order.medio_pago %></td>
        <td><%= order.direccion_pedido %></td>
        <td><%= order.ciudad_envio %></td>
        <td><%= order.nombre_apellidos %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
